@font-face {  
  font-family: "text-icons";  
  font-weight: normal;
  font-style: normal;
  src: url(data:font/truetype;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQrD+s+0AAAE4AAAAQk9TLzI8e0j9AAABfAAAAFZjbWFwAhcB8QAAAhQAAAJ8Z2x5ZiZBT7MAAAS0AAAUuGhlYWQWOaSrAAAA4AAAADZoaGVhCMAFJAAAALwAAAAkaG10eEJsAAAAAAHUAAAAQGxvY2ExJiv6AAAEkAAAACJtYXhwAT8BYwAAARgAAAAgbmFtZT5U/n0AABlsAAACbXBvc3SDdCVsAAAb3AAAAL4AAQAAA4D/gABcBZMAAAAABOIAAQAAAAAAAAAAAAAAAAAAABAAAQAAAAEAAId27+RfDzz1AAsEAAAAAADZHDBZAAAAANkcMFkAAP98BOIDgAAAAAgAAgAAAAAAAAABAAAAEAFXACUAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKAB4ALAABREZMVAAIAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAAAAQQnAZAABQAIAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA5gHm5AOA/4AAXAOAAIQAAAABAAAAAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABNkAAAQAAAAEAAAABAAAAAWTAAAEAAAABAAAAAQAAAAEAAAABAAAAAAAAAUAAAADAAAALAAAAAQAAAG4AAEAAAAAALIAAwABAAAALAADAAoAAAG4AAQAhgAAABYAEAADAAbmBOYW5irmLOY85lPmYeZ45q3m5P//AADmAeYV5irmLOY85lPmYOZ45q3m5P//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAWABwAHgAeAB4AHgAeACAAIAAgAAAADQAPAA4ACQALAAIADAADAAYACgABAAgABwAFAAQAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAAAMQAAAAAAAAADwAA5gEAAOYBAAAADQAA5gIAAOYCAAAADwAA5gMAAOYDAAAADgAA5gQAAOYEAAAACQAA5hUAAOYVAAAACwAA5hYAAOYWAAAAAgAA5ioAAOYqAAAADAAA5iwAAOYsAAAAAwAA5jwAAOY8AAAABgAA5lMAAOZTAAAACgAA5mAAAOZgAAAAAQAA5mEAAOZhAAAACAAA5ngAAOZ4AAAABwAA5q0AAOatAAAABQAA5uQAAObkAAAABAAAAAAA5gFOAmAEXAT8BbIGJAaOBvgHegf4CJ4JdAn4ClwAAAAEAAD/wAPAA0AADQAbAGMAlgAAAQ4BBx4BFz4BNy4BJzERLgEnPgE3HgEXDgEHMSUuAScmNj8BJwcOAScuAS8BIwcUBgcGJi8BBxceAQcOAQ8BFRceARcWBg8BFzc+ARceAR8BMzc+ATc2Fh8BNycuATc+AT8BNQcxFQ4BBwYXBy4BBwYHIyYnJgYHJzYnLgEnNT4BNzYnNx4BNzY3MxYXFjY3FwYXHgEXFQH4U28CAm9TU28CAm9TPVECAlE9PVECAlE9AbAROw4IFBEMehMOPxoSDgEBwgEPEho/DhN6DBEVCQ07EhcXEjsNCRURDHoTDj8aEg4BAcIBAQ4SGj8OE3oMERUJDTwRFzQaQBIZLj4YSyY0CWAJNCVMGD4vGRNAGhpAExkvPhhLJjQJYAk0JksYPi4ZEkAaAkECblRTbwICb1NUbgL+rQFRPT1SAQFSPT1RAewBFRgVNRUSgQ4MHAoKNBoZGRo0CgocDA6BEhU1FRgVAQOuAwEVGBU1FRKBDgwcCgo0GhkZGjQKChwMDoESFTUVGBUBA65OMgUhIzdLQRAWDxlUVBkPFhBBTDYjIQVSBSEjN0tBEBYPGVRUGQ8WEEFLNyMhBSAABAAA/4ADzQOAACEAMQA5AD0AAAEjEw4BByEuAScTIy4BJzU+ATchET4BMhYXESEeARcVDgEBMyY/AT4BHgEPAQYHIQMhATQmIgYVETMFIRUhA5opXAEdFfzMFR0BXCkVHQEBHRUBNAE5WDkBATQVHQEBHfy3nAYCHwIRFQwCHwEDAm5n/ZoBZh0sHWYBZ/zMAzQBgP4zFhwBARwWAc0BHBYzFh0BAQArOjor/wABHRYzFhz+MggL4wsMBBEK5AUFAc0BmhUdHRX/ADQzAAAAAAoAAP98A2MDfgAjAEEATwBcAGoAdgCEAJAAngCqAAABLgEnJgcOAQcGFhcWFxYHBgcGBwYXFhcWNzY3Njc2NzYvASYHFgYHDgEHDgEHIiY3PgE3NiYnLgEnNDY3NhYXHgEBJgYHBhYXFjY3NicuARcOAScuATc+ARcWFxY3JiIHBhYXFjY3PgEnJgcWBw4BJy4BNzYyFhcuAQcOARceATc+ATc2BwYHBiYnJjY3Nh4BFy4BBw4BFx4BNz4BNzYHBgcGJicmNjc2HgECmSRLJ0E4JCsGBxgiFBInEQsUDgYHCAsiL0BWNR4UNh8UBgUZCAQMCQ4cGARSWyxCAQQhDAcBDxVOAhssRIQjNz3+FiZACwsuLSU7CQgOCSALBSIXGx0FBiYXHQwJvRQzFBgEGxQuEw8KAgUaBBALGQsPAw4LHBbaDCoVGw8RDCcUEBICBB8CEQoUBwgHDgwVDKAKJhQZEQ4KIxMPEgMEIQMOCBAFBggLCREJAqgQDgECHxM8KjRdKBgYNkEqJRoeJSYxJC4GB0YqL32EUFMig6wwVyU6WTcVhg1PKkBAHhlHIidjPyVEFRsPERhcAS8PHycuVBALIiYiJBckbxcWBggyGxgTCAwcFZEWFh1NGxECExEnFCEmFxMLAQoOKxAMFwYWDA0SQhwTCQsLHhEcGhIMBgUKDyIJBwYXTBUNCw87GhIKCggbDxkUDgkEBAkLGwcFBRMAAAAAJQAA/4AD/gOAAA8AEAAUABUAGAAcAB0ALgAvADMANABBAEwAXQBoAGkAbQBuAHUAdgB7AHwAtQDGAMcA0wDfAOAA/AEQATUBPwFGAUoBUQFVAVYAAAEhDgEHER4BFyE+ATcRLgEnEwYjMjcBMREXFjMiJyUuAScmIgczHgEVBgczMjc2JyUmIgczIw4BBxYXFjsBJjU0NiUOAQcUFzMmNTQ2BSMGHwIeATMXNjU2PwE2JiUeARUUBzM2NS4BJwU2NwYHJS4BNTEUFh8BJiceARcBJgYHDgEHIS4BJy4BBw4BBxUUHgEXJic+ATc2MhceARcUByEmNT4BNzYyFx4BFwYHNjc+AT0BLgEBBwYPAQYiNSYvAiY2OwEWByUjDgEVFBczNjUuASUjDgEVFBczNjU0JicTMzUjNTM1IRUzFSMVMw4BBxc+ATcWFxYXNy4BJTM1MxUzNTM1IzUjFSM1IxUjFTMnLgEHIxUzMhYXHgEdAQcXNxUHFzcVFAYHDgEjFzI2Nz4BNzUmFxUeARczPgE9AQcjLgE9ATM1IzUzFxQGByM1MzUjNTMVA3P9FztOAQFOOwLpO04CAk47KxQUEhb8YmAVFRUVA0cBPC4DBgQNDREBAx0WEwwB/SgEBgMNDS48AQEKExUeBBECei08AQ1EBBD+8ioUCQ0HBAMBBAYEAxEGBf6xDRIERA0DPC0Czx4XGRz8kRUaGBcxHRYLGw0DcR8yBidmTv7ATmUoBzEfGxEBGC0dCgEBPC4DBgQtPAENAaYNATwtBAYDLjwBAQoeFxUYARH+MwsFAwUCDAQDBg0FBwkqFAkBHQ0NEARCBAIR/YYNDRMEQgQQDYaTmIn+yYiXkwtIQBMpVRsNFSlPE0NKAUgmUycmJidTJiQkTRArDwQGChwJAgQ7Eyg7EygFBRAgARMDJxEJCgEEGQEgGHgYIYgpCAs8PDxiCwgpPDw8A4ABTjv9FztOAgJOOwLpO04B/AkHBwNt/VnGBwcsLkADAwMHPiwdFgcWFnEDAwNALhYWBxYdLD4HA0AuHRYWHSw+UgEOEQsFBQEBAgMFHAYJWQc+LB0WFh0uQAOdChMTCh0UNB8fNBQdCBUJEAQBTA4hCTFVAgNVMAkhDhJPI0ceNCgKFBkuQAMDAwNALh0WFh0uQAMDAwNALhYXChQUMx1HJU/++w8FBggEAgMFCxEGCQEOaAc+LB0WFh0sPgcHPiwdFhYdLD4HAfkmUSgmUSYrTCUiFkYzGhkwLCIjTG0gICAmFxkZGSctDwYCJgIHAQgKDCUiGCskIhcgBxEFEhciHBULHg6zH1KvGCABASAYr8ABCgkmJjqJCAoBPCY6OgAAAAADAAAAAAOtAsUAEQBgAGkAAAE2JicuAScHFzIWBw4BBxc+ARM2PwEnDgEHFxYXNjc2Nw4BBxc3NjczFSMVMxUjIiYnJj8BIwcGFhcWNjcXNycHFwYHNTM1IzUzNSE+ATcnNhYVERYGBycHHgE3NiYnNiYFNCYiBhQWMjYBKxABGR4oLy9YBSoQG3kHczkatg4GB2oBPTolIAQfGhoYDywZLRQSGiaUlAUNHwgIAgNmBAcNZmZ7Gw9VOUUNGyCQkJH+/g4UAy2RmwQbVD8PEPghDhEDDJv+LitBKytBKwEfMEkaHyIiSjcsKi53Bkh5NQF5GQ4OHgePOBUTAR4hDAkbRBsnExMbQTV9CAsQFScCCpIIASwYOCOMFi8UCm01QTQRHgoMNRlU/tUHVwENPAwCk6C4ARCFSB0mJjonJwAAAAMAAP/eBJYDHAAoAEQAgwAAAT4BJzU0JichDgEHFQYWFx4BFw4BBw4BFxUeARchPgE9ATYmJy4BNDYXFRQGIyEiJic1PgE0Jic1PgEzITIWHQEOARQWJSM3Ni8BJiIPAScmIg8BBh8BIyIGHQEUFjsBFSMOAR0BFBY7ARUeATsBMjY9ATMyNj0BNCYrATUzPgE9ATQmBHkUCAEvI/xFIy4BAQoSHjMBAjQbEgwBAS4jA7wjLwENDy0mJhIfGPx7Fx8BMT09MQEfFwOFGB8xPT3+2WhxBwcSBAoEfX4ECgQRBwdxaAYICAZ7ewYICAZ7AQcGGwYIfAYICAZ6fAUIBwHsDRkRpiMuAQEvIqYSGwoNNys3MAgMHwymIy4BAS4jphYXChcyTDHzlBgfHxiUElNuUxKUGB8fGJQSU25TwnkKCRMEBIaHBAQTCgl6CAYcBgg3AQcGGwYIYQUJCAZgCAYbBgg3AQcGHAYJAAABAAAAAAOhAvsATAAAJSc3NjIWFA8BMz4BNy4BLwIuAScOAQ8CDgEHHgEXMx4BFAYrASIuAjU+AT8CPgE3PgEyFhceAR8CHgEXFA4CKwEXFhQGIicB5CJ3BQ0KBVHJT2gCAUo9CgITglhYgxICCj1KAQJoTwoHCQkHCixOPiEBTUEHAgsuISVZYVkmIC4LAghBTQEhPk4syVoFCg0FcCF4BQoNBVABaU4/YRICClZrAgJrVgoCEmE/TmkBAQkNCiE+TixFbhgDCClHHB4hIR4cRykIAxhuRSxOPiFaBQwKBQAAAAAFAAD/2QNqAycADwAfACkANABAAAAFLgEnET4BNyEeARcRDgEHAQ4BBxEeARchPgE3ES4BJwEiJjYzITIWBiMFBiY2FyEyFhQGIyUiJjQ2MyEyFhQGIwEMMkIBAUIyAegyQgEBQjL+GBwlAQElHAHoHCUBASUc/ksPEBAPAYIPEBAP/n4QEREQAQcLDw8L/vkLDw8LAYILDw8LJgFCMgJiMkIBAUIy/Z4yQgEDGQElHP2eHCUBASUcAmIcJQH+cxoaGhp6ARsbAg4WD/UOFg8PFg4AAAMAAAAAA4ADAQAzAD0ARwAAATIWHQEUBisBLgEnNT4BNz4BNx4BFx4BFxUOAQcjDgEHLgE0NjcyNjcmPQE0NjMuAScOAQUVMzI2PQE0JiMFNSMiBh0BFBYzAQYOExMOMyMvAQElHQmygoKyCR0lAQEvIxYqlFkOEhIORXIjARMOCYxlZYwCDREGCgoG/bcRBgoJBwHTEw7qDhMBLyOGHy0GgqkDA6mCBi0fhiMvAU5YAQETGxMBQzsEA+oOE2WDAgKDp6cKBoYHCqenCgeGBwkAAAAAAwAA/4EE4gOAACgAUQBSAAAFIi8BBwYjIicuAT8BJy4BNzU+AT8CPgEyFh8CHgIGDwEXFgYHBiUXFjMyPwE+AScDNz4BLwEuASclJy4BIgYPAQUGBwYWHwEDBh4BMzI/AQPZFxje4BUaIRoYFgYtrxQPCAosHfRtDTE7MQxt9B0rEg4UsCwFFBga/tH4DAkOCQIKCgMyxgkGBAEDEgz+7XsEFhgVBnv+7hoKAwcJxTQCChUOCwn7fwxvbwsUEjYd7aMVNx0BHSUELN8aHyAa3ioFJjg4FaXuHTUSFbx8BggBCBcNAQ25ChgMAgwQAi/6Cw0OC/gyBBsMGQm5/vMMFxAEfQACAAAAAANeAxEAMABUAAAlIiMuATc0Njc2NzY3JyY1NDc+AR8BFScxFhc5ARYVMRYGDwEOAS4BPwEGBw4BFQ4BBSEuAScRPgE3MzIWFAYHIyIGBxEeARchPgE3ETQ2MhYVEQ4BAWsCAwkJAioxPFBKWEcNAgQQCIIBBgQBAwEDQwUREAQEK65xLygCCwF0/jYyQwEBQzKWCg4OCpYeKAEBKB4Byh4oAQ0UDgFDwgIPCQaDWmhDPx0fBw0FBAgHBDgBAQMFAgEGCwN5CAQJEQhNNcFWfQQICZgBQzIByjJDAQ4UDQEoH/43HigBASgeAUIKDQ0K/r4yQwAAAAAEAAD/twPWA0kAPwBLAFcAagAAJQYnLgEnNDY3NDY1NzYnNTQmJy4BIwYPAgYPAT4DMzIWMx4BFRYGBxQGFQcGFxUUHgI3FjY/Aw4BBwMGAAcWABc2ADcmAAMuASc+ATceARcOAQMmBgcGFQYXHgI+Aic2Jy4BAkkUBgMFAQIDBBoFAQwKCRsTCQsXFgwNCAMIDAkGCg0DAwUBAgMEGgUBDBMbEwwVCRUaCQMIBlHF/v0FBQECwsQBBAQF/v/CsuwEBOyysewFBeyHDBUJDQESChQZFRMIAQITCRnEAQYDCwcDDAYHCwRVDQwWDRcGCggBAgYHBAYaAQMBBAQECwcDDAYHCwNWDQwWDBUTCAEBAgMHChoBAwEChQX+/sLC/v4FBQECwsIBAvyaBO2xse0EBO2xse0ChAEICgwaExMHCgEIExEMExMKCAAAAA0AAAAAA7UDGAAaACcANAA1AEIASwBUAFUAYgBrAHQAgACMAAAlIS4BNRM2Ji8BLgE+AR8BFhUDFBYXITIWFAYnJS4BNRMFHgEdARQGJQU+AT0BNCYjJQMUFhcjFB4BMj4BNC4BIg4BFy4BNDYyFhQGJw4BFBYyNjQmBSMUHgEyPgE0LgEiDgEXLgE0NjIWFAYnDgEUFjI2NCYDISImNDYzITIWFAYHISImNDYzITIWFAYDo/12HioCARAYYAcIAgsHYEQCFg8CiwcKCTj9pR0pAgKpGB8l/YkCWw0SDAr9egIVUkARHiIeEBAeIh4RQCIuLkQuLiIUGhooGhoB1D8RHiEeEREeIR4RPyItLUUtLSMTGxsnGxt6/qQHCgoHAVwHCgoH/qQHCgoHAVwHCgqYASodAd8PEwQQAQwOCAERCzz+IRAVAQkPCmICASkdAWIzASAY/RwlIwIBEQ79Cg0w/sMPFr4RHhERHiIdEhIdYgEuRC4uRC5/ARooGhooGi4RHhERHiIdEhIdYgEuRC4uRC5/ARooGhooGgFQCg4KCg4KYgoOCgoOCgAABgAA//0DjAMCAAkAEQAxAD4ASwBYAAAlDgEjISImJxEhJTQ3MxYXFSMhIzUuAScjDgEHFSMiBhQWOwERHgEXIT4BNxEzMjY0JgEyNjURNCYiBhURFBYjMjY3ES4BIgYVERQWITI2NRE0JiIGBxEeAQLeARsU/qQUGwEBvP6lCegJAfsB67YBJh3oHCYBtw0QEA1WATwtAVwtPAFWDRAQ/oUMEREYERF7DBABARAZEBEBGg0QEBkQAQEQaBQcHBQCAFYJAQEJHR0dJgEBJh0dEBkR/gEtPAEBPC0CABAZEP3uEQwBNQwREQz+ywwREQwBNQwREQz+ywwREQwBNQwREQz+ywwRAAAABAAA/8ADwANAAAsAFwA2AD8AAAUuASc+ATceARcOASc+ATcuAScOAQceARMyFhUUBwYHBgcGFxUjNTQ2PwE2Ny4BIyIHBhUjNDYTNhYUBiImNDYCAL79BQX9vr79BQX9vqXbBATbpaXbBATbsT1MGAksEwgLAUUaOwsRAQElIysUEUNROxQbGycbG0AF/b6+/QUF/b6+/TcE26Wl2wQE26Wl2wJbQzovHwonEBETFwsLIzQ0DBYZISYbFypFUf6LARooGhsnGgAAABIA3gABAAAAAAAAABUAAAABAAAAAAABAAgAFQABAAAAAAACAAcAHQABAAAAAAADAAgAJAABAAAAAAAEAAgALAABAAAAAAAFAAsANAABAAAAAAAGAAgAPwABAAAAAAAKACsARwABAAAAAAALABMAcgADAAEECQAAACoAhQADAAEECQABABAArwADAAEECQACAA4AvwADAAEECQADABAAzQADAAEECQAEABAA3QADAAEECQAFABYA7QADAAEECQAGABABAwADAAEECQAKAFYBEwADAAEECQALACYBaQpDcmVhdGVkIGJ5IGljb25mb250Cmljb25mb250UmVndWxhcmljb25mb250aWNvbmZvbnRWZXJzaW9uIDEuMGljb25mb250R2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20ACgBDAHIAZQBhAHQAZQBkACAAYgB5ACAAaQBjAG8AbgBmAG8AbgB0AAoAaQBjAG8AbgBmAG8AbgB0AFIAZQBnAHUAbABhAHIAaQBjAG8AbgBmAG8AbgB0AGkAYwBvAG4AZgBvAG4AdABWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbgBmAG8AbgB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABABAgEDAQQBBQEGAQcBCAEJAQoBCwEMAQ0BDgEPARABEQAGc2hlemhpBWNsZWFuBHp1amkHdGlhbm1hbwZ0YW9iYW8LeW91aHVpcXVhbjEHZ2VuZ3hpbgdkaW5nZGFuCmxpYW54aWtlZnUIc2hvdWNhbmcIZmVueGlhbmcGZ3Vhbnl1CGdvdXd1Y2hlBmRlbGV0ZQdiYW5nemh1AAAAAA==) format('truetype');  
}  
.text-icons {
  font-family: "text-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.text-icons-shezhi:before {
  content: "\e660";
}

.text-icons-clean:before {
  content: "\e616";
}

.text-icons-zuji:before {
  content: "\e62c";
}

.text-icons-tianmao:before {
  content: "\e6e4";
}

.text-icons-taobao:before {
  content: "\e6ad";
}

.text-icons-youhuiquan1:before {
  content: "\e63c";
}

.text-icons-gengxin:before {
  content: "\e678";
}

.text-icons-dingdan:before {
  content: "\e661";
}

.text-icons-lianxikefu:before {
  content: "\e604";
}

.text-icons-shoucang:before {
  content: "\e653";
}

.text-icons-fenxiang:before {
  content: "\e615";
}

.text-icons-guanyu:before {
  content: "\e62a";
}

.text-icons-gouwuche:before {
  content: "\e601";
}

.text-icons-delete:before {
  content: "\e603";
}

.text-icons-bangzhu:before {
  content: "\e602";
}






/* 搜索 */
.input-view {
	width: 92%;
	display: flex;
	background-color: #e7e7e7;
	height: 30px;
	border-radius: 15px;
	padding: 0 4%;
	flex-wrap: nowrap;
	margin: 7px 0;
	line-height: 30px;
}

.input-view .uni-icon {
	line-height: 30px !important;
}

.input-view .input {
	height: 30px;
	line-height: 30px;
	width: 94%;
	padding: 0 3%;
}

/* 背景色 */
.uni-bg-red {
	background: #F76260;
	color: #FFF;
}

.uni-bg-green {
	background: #09BB07;
	color: #FFF;
}

.uni-bg-blue {
	background: #007AFF;
	color: #FFF;
}


.logo {
	text-align: center;
	width: 160upx;
	color: #F76260;
}

.grid-list {
	background: #FFFFFF;
	margin: 0 0 20upx 0;
}

.active-title-image {
	height: 220upx;
}

.active-title-image image {
	height: 100%;
	width: 100%;
}



/* 图文列表 */
.uni-index-list-cell {
	width: 750upx;
	background: #FFFFFF;
	margin-bottom: 10upx;
	border-radius: 10upx;
}


.uni-good-list {
	padding: 22upx 30upx;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	flex-direction: row;
}

.uni-navigate-right.uni-good-list {
	padding-right: 74upx;
}

.uni-pull-right {
	flex-direction: row-reverse;
}

.uni-pull-right>.uni-good-list-logo {
	margin-right: 0upx;
	margin-left: 20upx;
}

.uni-good-list-logo {
	height: 220upx;
	width: 220upx;
	margin-right: 20upx;
}

.uni-good-list-logo image {
	height: 100%;
	width: 100%;
}

.uni-good-list-body {
	height: 220upx;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
}

.uni-good-list-text-top {
	width: 100%;
	line-height: 36upx;
	font-size: 30upx;
}

.uni-good-list-text-bottom {
	width: 100%;
	line-height: 38upx;
	font-size: 30upx;
	color: #8f8f94;
}

/* 轮播 */
.banner-swiper {
	height: 281upx;
}

.banner-swiper-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #eee;
	color: #fff;

}

.banner-swiper-item image {
	width: 100%;
	height: 100%;
}


.uni-tab-bar {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	background: #FFFFFF;
}

.uni-tab-bar .good-list {
	width: 750upx;
	background: #E7E7E7;
	height: 100%;
	touch-action: none;
}

.uni-swiper-tab {
	width: 100%;
	white-space: nowrap;
	line-height: 80upx;
	height: 84upx;
	border-bottom: 1px solid #c8c7cc;
	touch-action: none;
}

.swiper-tab-list {
	font-size: 28upx;
	padding: 0 20upx 0 20upx;
	display: inline-block;
	text-align: center;
	color: #555;
}

.uni-tab-bar .active {
	font-size: 32upx;
	color: #F76260;
	border-bottom: 6upx solid #F76260;
}

.uni-tab-bar .swiper-box {
	flex: 1;
	width: 100%;
	height: calc(100% - 80upx);
}

.color-red{
	color: red;
}